#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	# Binary is built in Dockerfile

override_dh_auto_install:
	# Files are installed in Dockerfile

override_dh_auto_test:
	# Skip tests during build

override_dh_auto_clean:
	dh_auto_clean 